﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="default.aspx.cs" Inherits="WebApplication1._default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Label ID="lbl_postBackcount" runat="server" Visible="true" Text="0" />
        <br />
        <asp:Button ID="btn_MakePostBack" runat="server" Text="Go" OnClick="btn_MakePostBack_Click"/>
    </div>
    </form>
</body>
</html>
